body {
  background-color: #ffefd6;
}
.container {
  padding: 10px 32px 32px;
  width: 1296px;
  background-color: #fcc3c3;
  margin: 0 auto;
  margin-top: 90px;
  border-radius: 8px 8px 0 0;
}
.h1 {
  margin: 0 auto;
  margin-top: -80px;
  font-size: 64px;
  line-height: 128px;
}
.cis-logo {
  width: 900px;
}

/* banner標題框樣式 */
.banner-lg {
  width: 800px;
  text-align: center;
  border-radius: 24px 8px;
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.6),
    inset -2px -2px 4px rgba(200, 160, 160, 0.4),
    2px 2px 4px rgba(139, 32, 32, 0.6);
}
.banner-sm {
  text-align: center;
  border-radius: 8px 4px;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.6),
    inset -1px -1px 2px rgba(255, 255, 255, 0.4);
}
/* img 設定*/
/* 透明邊框 */
img {
  border: 8px solid transparent;
  border-radius: 2px;
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.6),
    inset -2px -2px 4px rgba(255, 255, 255, 0.4);
}
.steak-pic img,
.hero-image img {
  border-radius: 16px;
  border: 8px solid #fff;
}
img {
  opacity: 0.6;
  /* max-width: 200px;
  height: auto; */
}
img:hover {
  transition: 0.6s;
  opacity: 1;
  border: 8px solid #efbb2a;
}

/* color */
.text-primary {
  color: #86180f;
}
.text-secondary {
  color: #efbb2a;
}
.bg-primary {
  background-color: #86180f;
}
.bg-secondary {
  background-color: #ffefd6;
}

/* flex */
.d-flex {
  display: flex;
  gap: 24px;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}
.flex-all-center {
  justify-content: center;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.align-between {
  align-content: space-between;
}
/* 間距 */
.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mt-3 {
  margin-top: 24px;
}
.mt-4 {
  margin-top: 32px;
}
.mt-5 {
  margin-top: 40px;
}
.mt-6 {
  margin-top: 48px;
}

.pb-1 {
  padding-bottom: 8px;
}
.pb-2 {
  padding-bottom: 16px;
}
.pb-3 {
  padding-bottom: 24px;
}
.pb-4 {
  padding-bottom: 32px;
}
.pb-5 {
  padding-bottom: 40px;
}
.pb-6 {
  padding-bottom: 48px;
}
